<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>#{title}</title>
<style></style>
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/admin/createvote.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <form action="" method="post">
    <div class="admin">
      <h2 id=title>創建活動</h2>
      <label for="topic">主題:</label><br>
      <input type="text"id="topic" name="topic"><br>
      <br>
      <label for="startAddTime">開始報名時間:</label><br>
      <input type="date" id="startAddTime" name="startAddTime"><br>
      <br>
      <label for="endAddTime">結束報名時間:</label><br>
      <input type="date" id="endAddTime" name="endAddTime"><br>
      <br>
      <label for="startVoteTime">開始投票時間:</label><br>
      <input type="date" id="startVoteTime" name="startVoteTime"><br>
      <br>
      <label for="endVoteTime">結束投票時間:</label><br>
      <input type="date" id="endVoteTime" name="endVoteTime"><br>
      <br>
      <input type="file" id="imageupload" name="image"><br>
      <input type="hidden" id="ipfsuri" name="ipfsuri" readonly>
      <br>
      <input type="submit" value="送出" id='submit'>
    </div>
  </form>
<script src="/javascripts/admin/createvote.js"></script>
</body>
</html>