<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>作品上傳</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/personal/workupload.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
  <script src="https://bundle.run/buffer@5.2.1"></script>
  include ../navigator.pug
  <br>
  <h1>作品上傳</h1>
  <br>
  <br>
  <form action="" method="post">
    <div class="container-left">
      <img src="" id="preview" width="698"height="420">
      <input type="file" id="imageupload" name="image" style="display:none;" onchange=previewFile()><br>
      <br>
      <br>
      <br>
      <label for="imageupload">圖片上傳</label>
      <br>
      <br>
    </div>
    <input type="hidden" id="ipfsuri" name="ipfsuri" readonly>
    <div class="container-right">
      <label for="name">作品名稱:</label><br>
      <input type="text" id="name" name="name"><br>
      <br>
      <label for="symbol">作品代號:</label><br>
      <input type="text" id="symbol" name="symbol"><br>
      <span>#{warn}</span>
      <br>
      <input type="submit"  id="upload" value="提交">
      <br>
    </div>
    
  </form>
<script src="/javascripts/personal/workupload.js"></script>

</body>
</html>