<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>上傳成功</title>
  
      <link rel="stylesheet" href="/stylesheets/personal/workupload_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            Key-in 上傳成功!
        </h1>
        <label for="uri">IPFS地址:</label>
        <a href=#{uri}>#{uri}</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button><a href="/">返回首頁</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>
</body>

</html>