<!DOCTYPE html>
<html>
<head>
    <meta  charset="utf-8">   
</head>
<body>
    // link to css
    <link rel="stylesheet" href="/stylesheets/navigator.css">

    // google fonts (Noto Sans TC)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    
    // jquery
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    // fontawesome
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    
    // navbar-expand: hom much size to collapse
    <nav class="navbar navbar-expand-sm navbar-light bg-white" >

        <div class="container-fluid">

            // brand
            <a class="navbar-brand" href="/">NFT</a>

            // left side
            <ul class="navbar-nav mr-auto">

                // admin only
                if(role=='admin')
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"role="button" aria-haspopup="true"aria-expanded="false">管理者<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/createvote">創建活動</a></li>
                            <li class="nav-item"><a class="nav-link" href="/workconfig">作品管理</a></li>
                            <li class="nav-item"><a class="nav-link" href="/promote">推廣作品</a></li>
                            <li class="nav-item"><a class="nav-link" href="/auditvendor">商家審核</a></li>
                        </ul>
                    </li>

                // vendor only
                //if(role=='vendor')
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"role="button" aria-haspopup="true"aria-expanded="false">商家<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="/addCollection">新增商品集</a></li>
                            <li class="nav-item"><a class="nav-link" href="/workListing">商品上架</a></li>
                        </ul>
                    </li>

                //- <li class="dropdown">
                //-     <a class="dropdown-toggle nav-link" data-toggle="dropdown"role="button" aria-haspopup="true"aria-expanded="false">活動總覽</a>
                //-     <ul class="dropdown-menu">
                //-         <li><a class="nav-item" href="/overview_signup">活動報名</a></li>
                //-         <li><a class="nav-item" href="/overview_vote">活動投票</a></li>
                //-     </ul>
                //- </li>
                // general
                <li class="nav-item"><a class="nav-link" href="/activity">活動</a><li>
                <li class="nav-item"><a class="nav-link" href="/overview_vote">投票</a><li>
                <li class="nav-item"><a class="nav-link" href="/explore">探索</a><li>
                <li class="nav-item"><a class="nav-link" href="/resell">販售</a></li>
                //- <li class="dropdown">
                //-     <a class="dropdown-toggle nav-item nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"aria-expanded="false">作品<span class="caret"></span></a>
                //-     <ul class="dropdown-menu">
                //-         <li><a class="nav-item" href="/works">作品總覽</a><li>
                //-         <li><a class="nav-item" href="/workvoted">已投票作品</a><li>
                //-         <li><a class="nav-item" href="/workbought">已購買作品</a><li>
                //-     </ul>
                //- </li>
            </ul>

            // right side
            <ul class="navbar-nav">
                if(!email)
                    <li class="nav-item"><a class="nav-link" href="/login">登入/註冊</a><li>
                else
                    <li class="nav-item mr-4">  
                        <div class="pointContainer">
                            // get point by abi
                            <div>#{bal}</div>
                            <a href="exchangetoken">
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-right">
                            <li><a class="dropdown-item" href="/workupload">作品上傳</a></li>
                            <li><a class="dropdown-item" href="/mywork">我的作品</a></li>
                            <li><a class="dropdown-item" href="/myregistration">我的報名</a></li>
                            //<li><a class="dropdown-item" href="/mycollection">個人收藏</a></li>
                            if(role=='vendor')
                                <li><a class="dropdown-item" href="/goodupload">商品上架</a></li>
                                <li><a class="dropdown-item" href="/createvote">創建活動</a></li>
                            <li><a class="dropdown-item" href="/exchangetoken">個人錢包</a></li>
                            <li><a class="dropdown-item" href="transfertoken">平台幣轉移</a></li>
                            <li><hr class="dropdown-divider"></li>
                            if(role!='vendor')
                                <li><a class="dropdown-item" href="/applyforvendor">升級成為會員</a></li>
                            <li><a class="dropdown-item" href="/myinfo">帳號設定</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">登出</a></li>
                        </ul>
                    </li>
            </ul>
        </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="logoutModal-conten">
                    <div class="modal-body" id="logoutModal-body">
                        <div class="modal-text mb-3" id="logoutModal-text">是否確定登出？</div>
                        <a class="btn btn-check" href="/logout" role="button">確認</a>
                        <button type="button" class="btn" data-dismiss="modal" id="logout-cancel">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    // link to js
    <script src="/javascripts/pointabi.js"></script>
    <script src="/javascripts/navigator.js"></script>
</body>
</html>