<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
    <link rel="stylesheet" href="/stylesheets/navigator.css">
    <script src="/javascripts/navigator.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse" >
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                if(role=='admin')
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"role="button" aria-haspopup="true"aria-expanded="false">管理者<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-item" href="/createvote">創建活動</a></li>
                            <li><a class="nav-item" href="/workconfig">作品管理</a></li>
                        </ul>
                    </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown"role="button" aria-haspopup="true"aria-expanded="false">活動總覽</a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-item" href="/overview_signup">活動報名</a></li>
                        <li><a class="nav-item" href="/overview_vote">活動投票</a></li>
                    </ul>
                </li>
                <li><a class="nav-item nav-link" href="#">活動</a><li>
                <li><a class="nav-item nav-link" href="#">作品</a><li>
            </ul>
            <ul class="nav navbar-nav ml-auto text-center">
                <i class="fa fa-user-circle fa-2x" aria-hidden="false"style="color:white"></i>
                if(!email)
                    <li><a class="nav-item nav-link" href="/login">登入</a><li>
                else
                    //<li><a class="nav-item nav-link" href="/logout">登出</a><li>
                    <li class="dropdown">
                    <a class="dropdown-toggle nav-link"data-toggle="dropdown" role="button" aria-haspopup="true"aria-expanded="false" href="/logout">登出</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-item" href="/myinfo">個人資料</a></li>
                            <li><a class="nav-item" href="/workupload">作品上傳</a></li>
                            <li><a class="nav-item" href="/mywork">我的作品</a></li>
                            <li><a class="nav-item" href="/myregistration">我的報名</a></li>
                            <li><a class="nav-item" href="/mycollection">我的收藏品</a></li>
                            <li><a class="nav-item" href="/exchangetoken">兌換代幣</a></li>
                        </ul>
                    </li>
            </ul>
        </div>
    </nav>
</body>
</html>