<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting</title>
  
      <link rel="stylesheet" href="/stylesheets/signup/submit_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            Key-in 您好，您的私鑰為:
        </h1>
        <dd id="pk">#{pk}</dd>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button><a href="/">返回主頁</a></button>
    </form>
</body>

</html>