<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting</title>
    <link rel="stylesheet" href="/stylesheets/sign_redirect.css">
</head>

<body>
    
    <div class="container">
        <h1>註冊成功!<h1>
        <hr>
        <br>
        <br>
        <br>
        <h2>請將您的私鑰匯入metamask中:<h2>
        <br>
        <br>
        <dd>#{pk}</dd>
        <br>
        <br>
        <br>
        <button type="button" id="check"><a href="/verify">完成</a></button>
        <br>
        <br>
        <br>
    </div>
    
    <script src="/javascripts/sign_redirect.js" type="text/javascript"></script>

</body>

</html>