<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>#{title}</title>
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/sign.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ./navigator.pug
  <br>
  <br>
  <div class="container">
    <i class="fa fa-user-circle fa-5x" aria-hidden="true"style="color:black"></i>
    <form action="" method="post">
      <label for="title">註冊</label><br>
      <label for ="email">E-mail：</label><br>
      <input type="text" id="email" name="email"><br/><span class="emailWarn">#{warn}</span>
      <label for="name">姓名:</label><br>
      <input type="text" id="name" name="name"><br/>
      <label for="cellphone">手機:</label><br>
      <input type="text" id="cellphone" name="cellphone"><br/>
      <label for="homeaddress">住址:</label><br>
      <input type="text" id="homeaddress" name="homeaddress"><br/>
      <label for="userpass">密碼:</label><br>
      <input type="password" id="userpass" name="userpass"><br/>
      <label for="passcheck">確認密碼:</label><br>
      <input type="password" id="passcheck" name="passcheck"><br/><span class="passWarn">#{passWarn}</span>
      <input type="submit" id="submit" value="註冊">
    </form>
    <p>已有帳號？<a id="sign" href="/login">登入</a></p>
  </div>
<script src="/javascripts/sign.js"></script>
</body>
</html>