<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting</title>
  
      <link rel="stylesheet" href="/stylesheets/vote/vote_redirect.css">

</head>

<body>

    <form action="#" method="post">
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            Key-in 購買成功!3秒後重新回到主頁
        </h1>
        <a href=#{hash}>交易詳情</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>

    <script src="/javascripts/vote/vote_redirect.js" type="text/javascript"></script>

</body>

</html>