body {
    background-color: #ffffff;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
  }
  .navbar {
    padding: 0 7.5rem;
    padding-top: 2.5rem;
    align-items: baseline;
  }
  .navbar-brand {
    font-size: 28px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    margin-right: 6rem;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .copyright {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #696969;
  }
