body {
  background-color: white;
  font-family: serif;
  font-size: 28px;
}
h1{
  font-size:30px;
  padding-left:75%;
}
div[class="wallet_info"]{
  position: justify;
  font-size:24px;
  padding: 2em 2em 2em;
  max-width: 550px;
  margin-left: auto; 
  margin-right: 3%;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
}
div h2{
  text-align:center;
}