body {
  background-color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
}

.navbar {
  padding: 0;
}

.container-fluid {
  padding: 2.5rem 7.5rem 0rem 7.5rem;
}

/* NFT brand mark */
.navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  margin-right: 8.75rem;
}

.nav-link {
  color: black !important;
  width: 6.25rem;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  border-bottom: transparent solid 2px;
}

.nav-link:hover {
  border-bottom: #bab8b8 solid 2px;
}

.nav-link:active {
  font-weight: 700;
  border-bottom: black solid 2px;
}

/* dropdown without default arrow */
.dropdown-toggle::after {
  display: none;
}

/* logged in dropdown */
.dropdown-item {
  text-align: end;
  padding: 0.5rem 2rem;
  font-size: 20px;
}

/* point part */
.pointContainer {
  position: relative;
  height: 28px;
  width: 90px;
  border-radius: 28px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  border: #bab8b8 solid 0.5px;
}

.pointContainer a {
  position: absolute;
  color: black;
  top: 0px;
  right: 3px;
}