body {
  background-color: white;
  font-family: serif;
  font-size: 28px;
}
li{
  background-color:bg-dark;
}
li a{
  color:black;
  font-size:28px;
}
.pointbalance{
  position: relative;
}
input[id='pointbal']{
  width: 50%;
  display: block;
  margin: 0px;
  padding: 0px;
  border-radius:30px;
  background-color:white;
  text-align:center;
}
button[id="exchangetoken"]{
  width: 15%;
  border-radius:18px;
  position: absolute;
  top: 0;
  right: 150px;
  cursor: pointer;
  color:white;
  z-index: 2;
  background-color:gray;
  text-align:center;
}
button a{
  color:white;
}