body {
  background: #384047;
  font-family: serif;
  font-size: 28px;
}
.container {
  width: 100%;
  text-align: center;
}
input[id="pk"]{
  width: 85%;
  padding: 6px 14px;
  margin: 8px 0;
  display: inline-block;
  font-size:20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color:#D0D0D0;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
}
button[id="check"]{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
a{
  color: white;
}
a [id="video"]{
  color: gray;
}