body {
  background-color: gray;
  font-family: serif;
  font-size: 28px;
}
.container{
  width: 100%;
  text-align: center;
}
form {
  text-align:center;
}
form input{
  width: 40%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color:#D0D0D0;
}
form input[id='submit']{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
form label[for="title"]{
  color:#666666;
  font-size:48px;
}
form label[for="email"]{
  color:#666666;
  font-size:28px;
}
form label[for="userfirstname"]{
  color:#666666;
  font-size:28px;
}
form label[for="userlastname"]{
  color:#666666;
  font-size:28px;
}
form label[for="cellphone"]{
  color:#666666;
  font-size:28px;
}
form label[for="homeaddress"]{
  color:#666666;
  font-size:28px;
}
form label[for="passcheck"]{
  color:#666666;
  font-size:28px;
}
form label[for="userpass"]{
  color:#666666;
  font-size:28px;
}
i{
  text-align:center;
}
a{
  color: #666666;
}
p{
  text-align:center;
  color: #666666;
}
