<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Redirecting</title>
  
      <link rel="stylesheet" href="/stylesheets/works/vote_warn.css">

</head>

<body>

    <form action="#" method="post">
        <h2></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>
            Key-in #{warn}
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </form>

    <script src="/javascripts/works/vote_warn.js" type="text/javascript"></script>

</body>

</html>