body {
  background: #384047;
  font-family: serif;
  font-size: 28px;
}
.container{
  width: 100%;
  text-align: center;
}
textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
}
button[id="sendSign"]{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
button[id="forgetkey"]{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
form input[id='submit']{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
a{
  color: white;
}