/* body {
  background-color: gray;
  font-family: serif;
  font-size: 28px;
}
.container{
  width: 100%;
  text-align: center;
}
form{
  text-align:center;
}
form input[id="address"]{
  width: 40%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color:#D0D0D0;
}
form input[id="points"]{
  width: 20%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color:#D0D0D0;
}
form input[id="tochange"]{
  width: 20%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color:#D0D0D0;
}
form input[id='confirm']{
  width: 20%;
  border-radius:30px;
  display: block;
  margin: 0 auto;
  color:white;
  background-color:gray;
}
form label[for="title"]{
  color:#666666;
  font-size:48px;
}
form label[for="email"]{
  color:#666666;
  font-size:28px;
}
form label[for="userpass"]{
  color:#666666;
  font-size:28px;
}
i{
  text-align:center;
}
a{
  color: #666666;
}
p{
  text-align:center;
  color: #666666;
} */

body {
  background-color: white;
  font-family: serif;
  font-size: 16px;
}
.container {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}
label[for="title"] {
  margin-top: 120px;
  font-family: Noto Sans CJK TC;
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.15em;
  color: #000000;
}
form {
  text-align: center;
}
.textfield {
  width: 100%;
  padding: 6px 10px;
  margin: 18px 0;
  font-size: 16px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #bab8b8;
}
.btnAuthen {
  /* button */
  width: 100%;
  height: 48px;
  background: #000000;
  border: none;
  /* text */
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 4.5px;
  color: #ffffff;
}
.btnAuthen:hover {
  /* grey-hover */
  background: #bab8b8 !important;
}
::placeholder {
  text-align: left !important;
  /* Card-Exhibit-Body */
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  /* grey-hover */
  color: #bab8b8;
}
a {
  font-weight: 300;
  color: #666666;
}
a:hover {
  color: black;
}
p {
  font-weight: 300;
  color: #696969;
}

.textfield:disabled {
  background-color: white;
}