body {
    background-color: white;
    font-family: serif;
    font-size: 16px;
}

.container {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

label[for="title"] {
    margin-top: 4.6rem;
    font-family: Noto Sans CJK TC;
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.15em;
    color: #000000;
}
th[id="time"]{
    text-align:center;
}
th[id="point_change"]{
    text-align:center;
    width:100px;
}
th[id="now_balance"] {
    text-align: center;
    width: 100px;
}
th[id="transaction_info"]{
    text-align:center;
}
td{
    text-align:center;
}